 /* override styles here */
 .notie-container {
    box-shadow: none;
}

.my-footer {
    height: 5em;
    background-color: darkgray;
    margin-top: 1.5em;
    color: white;
    padding-top: 1.8em;
    padding-left: 2em;
}

.room-image {
    margin-top: 1.5em;
    max-width: 50%;
}
